//  SADOD THEME ©2021 ADMININTERNET

@import url(https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=BenchNine:wght@300&display=swap);
$blue: #0274be;
$purple: #6a1d8f;
$gray: #d1d5d6;
$darkgray: #6E717F;

* {
	box-sizing:border-box;
	max-width:100vw;
}
body {
	margin:0; padding:0;
	font:19px Barlow,sans-serif;
	line-height: 1.7em;
}
::selection { background: $purple; color: white; }
h1.page-title,
article h2 {
	text-align: center;
	color: $purple;
	line-height: 1em;
}
h1 a, h2 a { text-decoration: none; }
a {
	color: $purple;
	font-weight: bold;
	text-decoration: none;
}
hr {
	border: 0;
	border-bottom: 1px solid #9999;
}
img {
	max-width: 100%;
	height: auto;
}
.site-logo img { padding: 1em; }
table.sticky-header { display: none; }
.tabledrag-toggle-weight-wrapper { display: none; }
a.tabledrag-handle .handle { width: 22px; height: 22px; }
tr { border-bottom: 1px solid #9999; }
td { padding: 0.2em; }
input[type="text"],
input[type="number"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
textarea {
	border: 1px solid #ccc;
	padding: 0.3em 0.1em;
	font: inherit;
}
button, .button, input[type="submit"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	background: $purple;
	font: inherit;
	font-variant: all-small-caps;
	letter-spacing: 0.07em;
	margin: 0.5em 0.2em;
	padding: 0.5em;
	border: 0;
	border-radius: 2em;
	color: white;
	outline: none;
	transition: all 0.1s;
}
.ui-dialog .ui-dialog-buttonpane button {
	/* prevent button hover fuckups */
	margin: 0.1em; 
	&:hover {
		border: 0;
		font-weight: bold;
		color: white;
	}
}
.form--inline .form-item { // filter form on View All Content
	float: none;
	display: inline-block;
}

/* basic region definitions */
.block-block-content { padding: 0 1em; }
.layout-container {
	margin: 0;
}
.layout-container > header {
	grid-area: header;
	text-align: center;
}
.region-navbar {
	grid-area: nav;
	background: $blue;
	height: 100%;
	z-index: 666;
	> nav > ul.menu { text-align: center; } // yes this specific selector is necessary don't touch it
	a { color: white; text-decoration: none; }
}
#block-sadod-main-menu {
	display: none;
	text-align: center;
}
#menu-button {
	width:100%;
	border-radius:0;
	margin:0;
	background:$blue;
	&::before { content:'≡ '; }
}
.layout-content {
	grid-area: cont;
}
.region-content-secondary {
	grid-area: sec;
}
.region-content-tertiary {
	grid-area: tert;
	justify-self: center;
}
.layout-container > footer {
	grid-area: foot;
}
/* end region definitions */

#toolbar-bar { z-index:667; } /* admin menus higher than navbar */
#quickedit-entity-toolbar { z-index:668; }

/* ALL MENUS */
.menu-item--expanded, .menu-item--collapsed { list-style:none; }
ul.menu {
	margin:0; padding:0;
	li {
		padding: 0.6em;
		a, a.is-active, > span {
			color:white;
			display:inline-block;
			text-decoration:none;
			width:100%;
			padding: 0.6em;
			transition:all 0.2s;
			&:hover { background:#fff2; }
		}
		span > span { width:auto; }
		ul {
			display:none;
			margin-left:1em;
			box-shadow:0 0.5em 1em #0002;
		}
	}
	> li {
		> ul {
			> li {
				display:list-item;
				> a, > a.is-active {
					display:block;
					line-height:1em;
					transform:none;
				}
			}
		}
	}
}
ul.tabs {
	max-width:60em;
	margin:0 auto;
	.is-active { border-bottom:2px solid gray; }
}
span.caret {
	color:rgba(255,255,255,0.8);
    padding-left:0.2em;
	font-size: 1.1em;
}
/* END MENUS */

#block-button2 a { background: $blue; }

// all "special" SADOD blocks
.region-content-secondary,
.region-content-tertiary {
	padding: 0 1em;
	width: 100%;
	a {
		color: $purple;
		text-decoration: none;
	}
	> div {
		border-radius: 20px;
		border: 0 solid $purple;
		border-bottom-width: 1em;
		margin: 0.5em;
		max-width: 700px;
		overflow: hidden;
		h2 {
			text-align: center;
			color: white;
			background: $purple;
			margin-top: 0;
			padding: 0.4em;
			font-size: 1.4em;
		}
		.field--name-body {
			padding: 0 0.5em;
		}
		&:nth-of-type(n+3) {
			border-color: $darkgray;
			h2 { background: $darkgray; }
		}
	}
}
.region-content-tertiary > div {
	border-color: $blue;
	h2 { background: $blue; }
	max-width: 1200px;
	margin: 0.5em auto;
}
#block-views-block-in-depth-block-1 {
	background: $purple;
}
#block-views-block-essentials-block-1 {
	h2 { background: $darkgray; }
	border: 2px solid $darkgray;
}
#block-views-block-explore-block-1 {
	h2 { background: $blue; }
	border-color: $blue;
}
#block-views-block-videos-block-1 {
	h2 { background: $darkgray; }
	border-color: $darkgray;
}
#block-traininginpersonblock {
	background: $purple;
	color: white;
	h2 {
		background: $purple;
		font: 300 2em BenchNine;
	}
	h3 { font: 300 1.5em BenchNine; }
	a {
		color: white;
		text-decoration: underline;
	}
}
#block-trainingvirtualblock {
	background: $darkgray;
	border-color: $darkgray;
	color: white;
	h2 {
		background: $darkgray;
		font: 300 2em BenchNine;
	}
	h3 { font: 300 1.5em BenchNine; }
	a {
		color: white;
		text-decoration: underline;
	}
}

// generic block styling
article,
.region-pre1 .block,
.region-pre2 .block,
.view-id-latest_news_and_commentary .views-row {
	margin: 1em;
	article { display:none; }
}

// fix drupal dropbutton styling
.dropbutton-widget,
.js .dropbutton-widget,
.webform-dropbutton .dropbutton-wrapper .dropbutton-widget {
	background:$blue;
	color:white;
	font-weight:bold;
	border:none;
	padding:0.2em 2em 0.2em 0.2em;
	transition:all 0.2s;
}
.dropbutton-widget a { text-decoration:none; color:white; }
.open .dropbutton-widget { box-shadow:0 0.5em 1em rgba(0,0,0,0.2); }
.dropbutton-wrapper { border:none; }

.messages {
	border: 0;
	border-radius: 0;
	width: 95%;
	max-width: 1200px;
	margin: 0.1em auto 0 auto;
	&.messages--status {
		transform: scale(0);
		max-height: 0;
		animation: messages--status 5s 0s 1 forwards;
		&::after { // progress bar
			content: "";
			display: block;
			background-color: #77b259;
			max-width: 1200px;
			width: 90%;
			height: 0.2em;
			animation: messages--status-after 5s linear 0s 1 forwards;
		}
	}
}
@keyframes messages--status {
	0%,100% { transform: scale(0); max-height:0; }
	10%,90% { transform: scale(1.03); max-height:600px; }
	20%,80% { transform: scale(1); }
}
@keyframes messages--status-after {
	0%,10%   { width: 90%; }
	90%,100% { width: 0%; }
}

#block-recommendagroup,
#block-recommendanevent,
#block-internationaloverdoseawarenessday {
	background: $purple;
	color: white;
	max-width: 800px;
	margin: 0.5em auto;
	padding: 0.5em;
	border-radius: 1em;
	h2 { margin: 0; }
	p { margin: 0; }
	a { color: inherit; }
	a.button { background: $blue; } // yes this needs to stay here!
}
#block-internationaloverdoseawarenessday {
	grid-column: 2 / 4;
	h2 a, p a { color: white; } // not contextual menus
}

// Videos block styling
#block-views-block-videos-block-1 {
	.views-col {
		background: $gray;
		border-radius: 20px;
		padding: 10px;
		text-align: center;
	}
}
#block-views-block-explore-block-1 {
	.views-col {
		background: white;
		box-shadow: 0 0 0.5em #0008;
		padding: 1em;
	}
}

#block-contactformparagraph {
	background: $purple;
	color: white;
	font-size: 1.2em;
	padding: 20vh 1em;
	height: 100%;
}

#block-subfooter {
	background: #ccc;
}
#block-sadod-footer {
	background: $purple;
	padding: 1em;
	color: white;
	font-size: 0.8em;
	text-align: center;
}
#block-frontpageblocks {
	text-align: center;
	a { text-decoration: none; }
	.field--name-body {
		display: grid;
		grid: auto-flow / 1fr; // mobile one column
		grid-gap: 2em;
		div {
			border: 2px solid $purple;
			border-bottom: 1em solid $purple;
			border-radius: 16px;
			overflow: hidden;
			h3 {
				font: 300 1.5em BenchNine;
				background: $purple;
				color: white;
				padding: 12px;
				margin: 0;
			}
			img {
				display: block;
				width: 100%;
				height: 220px;
				object-fit: cover;
			}
		}
		// row coloration
		a:nth-of-type(n+4) div {
			border-color: $blue;
			transform:scale(0.97);
			h3 { background: $blue; }
			img { object-fit: contain; }
		}
		a:nth-of-type(n+7) div {
			border-color: $darkgray;
			transform:scale(0.94);
			h3 { background: $darkgray; }
			img { object-fit: contain; }
		}
	}
}

.view-in-depth { text-align: center; }

// newsletter article format fixing
.page-node-type-article {
	h1.page-title { display: none; }
	h2 { text-align: left; color: black; margin-bottom:0; }
}
.aligncenter {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.views-view-grid .views-col { float:none; }

// map view
.view-grief-support-groups,
.view-ioad-events {
	label { display: block; }
	input[type="radio"] + label { display: inline; }
	#edit-field-geofield-location-proximity { border-radius: 0.5em; }
	.form-item-field-geofield-location-proximity-value {
		margin: 0;
		&::after { content: " miles"; }
	}
	label[for="edit-field-geofield-location-proximity-value"] { display:none; }
	#edit-field-geofield-location-proximity-value--description { display:none; }
	#edit-dedicated-all,
	input[type="radio"]+label[for="edit-dedicated-all"],
	#edit-virtual-all,
	input[type="radio"]+label[for="edit-virtual-all"] {
		display: none;
	}
	
	label[for="edit-field-geofield-location-proximity-source-configuration-origin-address"] {
		font-size:0;
		&::after {
			content: "From...";
			font-size:1rem;
		}
	}
	.view-display-id-attachment_1 { // grid of results
		background: #ddd;
		font-size: 0.8em;
		.views-col { background: white; }
	}
}
.js-drupal-fullcalendar {
	tr { border: 0; }
	.fc-toolbar {
		display: grid;
		grid: "center" "left" "right";
		justify-content: space-around;
		.fc-left { grid-area: left; }
		.fc-center { grid-area: center; }
		.fc-right { grid-area: right; }
	}
	.view-content { padding: 0; }
}
#block-accessibilitytoolblock {
	line-height: 1em;
	margin: 0;
	transform: translatex(-100%);
	transition: transform 0.5s;
	ul, li {
		list-style-type: none;
		margin: 0;
	}
	a {
		color: $purple !important; // override stupid inline style
		text-decoration: none;
		font-size: 1rem;
		transition: font-size 0.5s;
	}
	&:hover { transform: translatex(0); }
	&::after {
		content: '';
		background: white url(/themes/sadod/images/accessibility.png) center/36px no-repeat;
		position: absolute;
		top: 0;
		left: 100%;
		width: 36px;
		height: 36px;
		padding: 4px;
		box-shadow: 0 3px 4px #0003;
	}
	box-shadow: 0 3px 4px #0003;
}
#block-accessibilitytoolblock,
.block-accessibility-tool-block.left,
.block-accessibility-tool-block.right {
	// these classes must be specified to override module default styles
	position: absolute; // override position:fixed at Glen's request
	top: 336px;
	z-index: 667;
}
.zoom-1 body { font-size: 26px; }
.zoom-2 body { font-size: 32px; }
.zoom-3 body { font-size: 40px; }
.zoom-4 body { font-size: 48px; }
.contrast-1 {
	$purple: #000;
	$blue: #000;
}

iframe.pdf { min-height: 90vh; }

#audiences-grid {
	display: grid;
	grid: auto-flow / 1fr;
}
#block-sadoddirectors { text-align: center; } // mobile only
.audience-pod { text-align: center; }

.node--type-grief-group.node--view-mode-full {
	.field__item, .field__items { padding-left: 1em; }
}

.node-grief-group-form .form-type-vertical-tabs { display: none; } // hide revision tab

.mc-field-group label { padding: 0.5em; }

article .field--name-body p { // fix Google Docs fuckery
	line-height: 1.38 !important;
	span { background-color: transparent !important; }
}
.caption > figcaption { text-align:center; } // article image captions
label button.link { color: $purple; } // Edit Summary link

#edit-field-geofield-location-proximity-source-configuration-origin-address {
	max-width: 80vw;
}
.fc-scroller {
	min-height: 400px;
}

@media screen and (min-width:60em) {
	.layout-container { // desktop region layout
		display: grid;
		grid:
			"header header"
			"nav    nav"
			"cont   cont"
			"sec    sec"
			"tert   tert"
			"foot   foot";
	}
	.directors {
		display: grid;
		grid:
		"l1 m1 r1" auto
		"l2 m2 r2" auto
		"l3 m3 r3" auto /
		1fr 1fr 1fr;
	}
	#block-sadod-content { padding: 1em; }
	#menu-button { display: none; }
	.region-header {
		display: grid;
		grid:
			"logo button1 button2 button3"
			".    .       .       search";
		align-items: center;
		justify-items: center;
	}	
	#block-sadod-branding { grid-area: logo; }
	#block-button1 { grid-area: button1; }
	#block-button2 { grid-area: button2; }
	#block-button3 { grid-area: button3; }
	#block-sadod-search  { grid-area: search; }
	#block-sadod-main-menu { display: block; }
	.toolbar-horizontal .region-navbar { top: 39px; }
	.toolbar-tray-open .region-navbar { top: 79px; }
	.menu--account, .menu--main {
		display: inline-block;
		vertical-align: middle;
	}
	ul.menu {
		li {
			a, a.is-active { line-height: 36px; }
			ul {
				display: none;
				background: transparent;
				margin: 0;
			}
		}
		> li {
			display: inline-block;
			margin: 0;
			padding: 0;
			position: relative;
			> ul {
				position: absolute;
				right: 0;
				background: $blue;
				width: 9em;
				z-index: 666;
				> li {
					> a, a.is-active {
						display: block;
						line-height: 1em;
                    }
                    > ul {
						left: 100%;
						top: 0;
					}
				}
			}
			&:hover > ul, > ul > li:hover {
				display: block;
			}
		}
	}
	#block-frontpageblocks .field--name-body {
		grid: auto-flow / 1fr 1fr 1fr;
		padding: 1em;
		div {
			vertical-align: top;
			margin: 1em 0;
		}
	}
	.region-content-secondary {
		display: grid;
		grid: auto-flow / 1fr 1fr;
		grid-gap: 2em;
		max-width: 1200px;
		margin:0 auto;
	}
	.path-contact .region-content {
		display: grid;
		grid:
			"title paragraph"
			"form  paragraph" / 1fr 1fr;
		#block-sadod-page-title { grid-area: title; }
		#block-sadod-content { grid-area: form; }
		#block-contactformparagraph { grid-area: paragraph; }
	}

	// STRUCTURE FOR ALL VIEWS WITH "DISPLAY AS GRID"
	.views-view-grid .views-row {
		display: grid;
		grid: 1fr / 1fr 1fr 1fr;
		grid-gap: 1em;
	}
	#audiences-grid {
		grid: 1fr / 1fr 1fr 1fr;
		align-items: end;
		max-width: 1200px;
		margin: 0 auto;
	}
	#block-sadoddirectors {
		max-width: 1200px;
		margin: 0.5em auto;
		padding: 1em;
		text-align: left;
		.field--name-body {
			display: grid;
			grid: 1fr 1fr 1fr / auto 1fr;
			h2 {
				font: 300 1.5em BenchNine;
				color: $purple;
				margin: 0;
			}
			p:first-of-type { margin-top: 0; }
		}
		hr {
			max-width: 200px;
			margin-left: 0;
		}
		img {
			border-radius: 0.5em;
			margin: 0 14px 14px 0;
		}
		.director { margin-bottom: 2em; }
	}
	// map filters
	#views-exposed-form-grief-support-groups-page-1 {
		.views-exposed-form {
			padding: 0 1em;
			max-width: 1200px;
			margin: 0 auto;
		}
		> .form--inline {
			display: grid;
			grid:
				"dedicated focus"
				"virtual   focus"
				"zip       focus" / auto auto;
			grid-gap: 0.5em 1em;
			max-width: 1000px;
			margin: 0 auto;
			> div { margin: 0; }
			#edit-dedicated--wrapper { grid-area: dedicated; margin: 0; }
			#edit-virtual--wrapper { grid-area: virtual; margin:0; }
			.form-item-field-address-postal-code { grid-area: zip; margin: 0; }
			.form-item-focus { grid-area: focus; }
		}
	}
	#block-subfooter {
		.field--name-body {
			display: grid;
			grid: auto-flow / 1fr 1fr 1fr;
			justify-items: center;
			align-items: center;
			padding: 0.5em;
		}
	}

	.view-content { padding: 1em; }

	// IOAD grid view
	.view-ioad-events.view-display-id-page_1 {
		display: grid;
		grid: "header header" "filters calendar" "map map" "list list" / 1fr 1fr;
		grid-gap: 0.5em;
		.view-header { grid-area: header; }
		.view-filters { grid-area: filters; }
		.attachment-before { grid-area: calendar; }
		.view-content { grid-area: map; }
		.attachment-after { grid-area: list; }
		#edit-field-geofield-location-proximity-source-configuration-origin-address {
			max-width: 35vw;
		}
	}
	.js-drupal-fullcalendar .fc-toolbar {
		display: flex;
		grid-gap: 1em;
	}

	.page-node-type-ioad-event .node__content {
		display: grid;
		grid:
			"date address cname cname" auto
			"date address cemail cemail" auto
			"date address cphone cphone" 1fr
			"body body body body"
			"map map file file" / 1fr 1fr 1fr 1fr;
		h2 { width: 50vw; text-align: center; }
		.field__label { font-size: 1.2em; }

		.field--name-field-event-date {
			grid-area: date;
			background: #eee;
			border-radius: 1em 0 0 1em;
			padding: 1em;
		}
		.field--name-field-address {
			grid-area: address;
			background: #eee;
			padding: 1em;
			p { margin: 0; }
		}
		.field--name-field-public-contact-name {
			grid-area: cname;
			background: #eee;
			border-radius: 0 1em 0 0;
			padding: 1em 1em 0 0;
		}
		.field--name-field-public-contact-email {
			grid-area: cemail;
			background: #eee;
			padding: 0 1em 0 0;
		}
		.field--name-field-public-contact-phone {
			grid-area: cphone;
			background: #eee;
			border-radius: 0 0 1em 0;
			padding: 0 1em 1em 0;
		}
		.field--name-body {
			grid-area: body;
			padding: 1em;
		}
		.field--name-field-geofield-location { grid-area: map; }
		.field--name-field-image,
		.field--name-field-file { grid-area: file; }
	}

	/* .node--type-grief-group.node--view-mode-full .node__content {
		display: grid;
		grid:
			"map   map   map"
			"desc  desc  desc"
			"focus dedi  time"
			"addr  name  name"
			"addr  emai  emai"
			"addr  phone phone"
			"spon  spon  spweb";
		background: $gray;
		> div { margin: 8px; background: white; padding:0.5em; }
		.field--name-field-geofield-location { grid-area: map; }
		.field--name-body { grid-area: desc; }
		.field--name-field-focus-of-the-group { grid-area: focus; }
		.field--name-field-dedicated-solely-to-grief- { grid-area: dedi; }
		.field--name-field-meeting-time { grid-area: time; }
		.field--name-field-address { grid-area: addr; }
		.field--name-field-contact-name { grid-area: name; margin-bottom: 0; }
		.field--name-field-contact-email { grid-area: emai; margin-bottom: 0; margin-top: 0; }
		.field--name-field-contact-phone { grid-area: phone; margin-top: 0; }
		.field--name-field-sponsoring-organiation { grid-area: spon; }
		.field--name-field-sponsor-webpage { grid-area: spweb; }
	} */
}

@media print {
	body { font-size: 12pt; }
	.region-navbar,
	.site-name::after,
	ul.tabs,
	button,
	.region-footer {
		display: none;
	}
}